{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
	<div id="main">
		<article>
			<header>
				<span class="date">{{ post.published_date }}</span>
				<h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
			</header>

			<a href="#" class="image fit"><img src="/static/images/pic02.jpg" alt="" /></a>
			<p>{{ post.text|safe|truncatewords:"40"|linebreaks }}</p>
			<ul class="actions special">
				<li><a href="{% url 'blog:post_detail' post.pk %}" class="button">Full Story</a><li>
			</ul>
		</article>
	</div>
{% endfor %}
{% endblock %}
